extends layout

block list
    div#search.hide-btn-selection
        div.input-group
            input.form-control(type='text', placeholder=__i('Search'))
            span.input-group-btn(type='button')
                button.btn
                    i.icon-remove
        button#show-selection.btn.btn-success(type='button')
            i.icon-filter
            span &nbsp;
            span #{__i('Show selection')}
    

block content
    div.row
        div#restaurants.col-md-6
            div#common-restaurants
                script.
                    document.write("#{__i('Loading…')}");
                noscript
                    p.label.label-important #{__i('For properly function, please, allow JavaScript for this site.')}
            div#hidden-restaurants
        div.col-md-6
            h2 Oblíbené restaurace:
            div#favorite-restaurants


    i#choicehelp-link.icon-meh
    div#choicehelp-box.alert.hide
        h2 #{__i('What about…')}
        i#choicehelp-close.icon-remove
        div#choicehelp-text

block end
    script(type='text/javascript').
        var restaurants = new lta.Restaurants(null);
        restaurants.load();
        new lta.ChoiceHelp();
        new lta.Search('search', restaurants)
